.appSection {
    display: flex;
    flex-direction: column;
}


.mainSection {
    display: flex;
    margin-top: 1vw;
}

.topicsSection {
    flex: 0 0 250px;
}

.climateDataSection {
    flex: 1 1 0%;
}